.check-box-hg{
    top:8px !important;
    left: 25px !important;
}
.expand-table-mrg-left
{
    margin-left:68px !important;
    margin-top: -43px !important;
    
}
.expand-main-close{
    margin-left: 12px;
    padding-top: 18px;
}
.app-check-box-hg{

    top:8px !important;
    left: 18px !important;
}